body {
  background-color: white;
  margin: 10px;
  padding: 2px;
}

.blackbox {
  border: solid peru 20px;
}

.white-box {
  border: solid pink 20px;
}

.blackbox2 {
  border: solid pink 20px;
}

.white-box2 {
  border: solid peru 20px;
}

.blackbox3 {
  border: solid peru 20px;
}

.white-box3 {
  border: solid pink 20px;
}
.blackbox4 {
  border: solid pink 20px;
}

.white-box4 {
  border: solid peru 20px;
}

.blackbox5 {
  border: solid peru 20px;
}

.white-box5 {
  border: solid pink 20px;
}

.blackbox6 {
  border: solid pink 20px;
}

.white-box6 {
  border: solid peru 20px;
}

.blackbox7 {
  border: solid peru 20px;
}

.white-box7 {
  border: solid pink 20px;
}

.blackbox8 {
  border: solid pink 20px;
}

.white-box8 {
  border: solid peru 20px;
}
